# To run: for f in  $(git ls-files src/); do clang-tidy-3.9 $f -fix -p build; done

Checks: >
    ,-*,
    ,google-explicit-constructor,
    ,misc-move-const-arg,
    ,misc-string-constructor,
    ,modernize-*,
    ,performance-*,

HeaderFilterRegex: 'src/'
