# To run:
# clang-tidy -fix -p build $(git ls-files src/)

Checks: >
    ,-*,
    ,google-explicit-constructor,
    ,misc-move-const-arg,
    ,misc-string-constructor,
    ,modernize-*,
    ,performance-*,
    ,-modernize-use-default-member-init,

HeaderFilterRegex: 'src/'
