[submodule "3rd_party/entityx"]
	path = 3rd_party/entityx
	url = https://github.com/alecthomas/entityx.git
[submodule "3rd_party/atria"]
	path = 3rd_party/atria
	url = https://github.com/lethal-guitar/atria.git
[submodule "3rd_party/glm"]
	path = 3rd_party/glm
	url = https://github.com/g-truc/glm.git
